<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="dholi" translate="label" sortOrder="900">
			<label>Dholi</label>
		</tab>
		<section id="dholi" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Dholi</label>
			<tab>dholi</tab>
			<resource>Dholi_Theme::config</resource>
			<group id="information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
				<label>System Information</label>
				<frontend_model>Dholi\Theme\Block\Adminhtml\System\Config\Info</frontend_model>
			</group>
		</section>
	</system>
</config>